<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="ISO-8859-1">
  <title>editReservation</title>
  <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>

  <div id="header" th:insert="~{schema.html :: header}"></div>

  <div id="content" class="container my-2" align="center">

    <div th:if="${guest.id == null}">
      <h3>Add reservation</h3>
      <h4>Personal data:</h4>
      <form th:action="@{/guest/save}" method="get">
        Firstname: <input type="text" th:field="${guest.firstname}" /><br/>
        Surname: <input type="text" th:field="${guest.surname}" /><br/>
        E-mail: <input type="text" th:field="${guest.mail}" /><br/>
        Phone number: <input type="text" th:field="${guest.phoneNumber}" /><br/>
        <input type="submit" value="Save" />
      </form>
    </div>

    <div th:if="${guest.id != null}">
      <h3>Edit reservation</h3>
    </div>

    <div th:if="${guest.id != null}">
      <form th:action="@{/reservations/edit/{id}(id=${reservation.id})}" method="post" th:object="${reservation}">
        From date: <input type="text" th:field="${reservation.fromDate}" /><br/>
        To date: <input type="text" th:field="${reservation.toDate}" /><br/>
        Price: <input type="text" th:field="${reservation.price}" /><br/>
        Number of adults: <input type="text" th:field="${reservation.numberOfAdults}" /><br/>
        Number of children <input type="text" th:field="${reservation.numberOfChildren}" /><br/>
        <input type="submit" value="Save" />
      </form>
    </div>
  </div>

  <div id="footer" th:insert="~{schema.html :: footer}"></div>

</div>
</body>
</html>