<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="ISO-8859-1">
    <title>Rooms</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="header" th:insert="~{schema.html :: header}"></div>

    <div id="content" class="container my-2" align="center">

        <h3>Room List</h3>
        <span style="color: green; margin-bottom: 20px; display: block;" th:text="${message}"></span>

        <div id="filterReservation" style="margin-left: 200px; margin-bottom: 50px; float: left; width: 620px;">
            <form th:action="@{/rooms/search}" method="GET">
                <div id="dateFilter" style="float:left;">
                    <p th:each="err : ${errors}"
                       th:text="${err}" />
                    <span style="width: 300px; display: inline-flex;">
                        <label>Date from:
                            <input id="dateFromReservationFilter" type="date" th:name="fromDate"
                                   th:value="${fromDate != null} ? ${fromDate} : ${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}" />
                        </label>
                    </span>
                    <span style="width: 300px; display: inline-flex;">
                        <label>Date to:
                            <input id="dateToReservationFilter" type="date" th:name="toDate"
                                   th:value="${toDate != null} ? ${toDate} : ${#temporals.format(#temporals.createNow().plusDays(7), 'yyyy-MM-dd')}" />
                        </label>
                    </span>
                </div>
                <div id="numberOfPeopleFilter" style="float:left;">
                    <label>Number of adults:
                        <input id="numberOfAdultsFilter" type="number" th:name="numberOfAdults"
                               th:value="${numberOfAdults != null} ? ${numberOfAdults} : 2"/>
                    </label>
                    <label>Number of children:
                        <input id="numberOfChildrenFilter" type="number" th:name="numberOfChildren"
                               th:value="${numberOfChildren != null} ? ${numberOfChildren} : 0"/>
                    </label>
                </div>
                <div>
                    <input type="submit" value="Search" style="float: right">
                </div>
            </form>
        </div>

        <div sec:authorize-url="/rooms/**">
            <a th:href="@{/rooms/new}">
                <button style="margin-bottom: 20px; float: right; margin-right: 100px" type="button">Add</button>
            </a>
        </div>

        <div th:if="${not #lists.isEmpty(roomList)}">
            <table style="width:80%" border="1"
                   class = "table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Number of people</th>
                    <th>Single beds</th>
                    <th>Double beds </th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="room:${roomList}">
                    <td th:text="${room.id}"></td>
                    <td th:text="${room.people}"></td>
                    <td th:text="${room.singleBed}"></td>
                    <td th:text="${room.doubleBed}"></td>
                    <td th:text="${room.price}"></td>
                    <td sec:authorize-url="/rooms/**">
                        <a th:href="@{/rooms/edit/{id}(id=${room.id})}"><button type="button">edit</button></a>
                        <form action="#" th:action="@{/rooms/delete/{id}(id=${room.id})}" th:method="delete" >
                            <button type="submit">delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="clear: both;" th:if="${#lists.isEmpty(roomList)}">
            <p>No available rooms found.</p>
        </div>
    </div>

    <div id="footer" th:insert="~{schema.html :: footer}"></div>
</body>
</html>