<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<div th:fragment="header" class="menu">
    <a th:href="@{/}" class="btnHome">RoomReserve</a>

    <div style="display: inline; float: right;">
        <a th:href="@{/rooms}" class="btnMenu">Rooms</a>
        <a th:href="@{/reservations}" class="btnMenu">Reservations</a>
        <a th:href="@{/logout}"><button>Logout</button></a>
    </div>
</div>

<div>content</div>

<div th:fragment="footer" style="margin: 40px; width: 100%; float: left;">Copyright &copy; Anna Piotrowska</div>
</body>

</html>